body{
    background-color: rgb(230, 248, 242);
    font-family: 'Heebo', sans-serif;
}
.d-flex i {
    padding-right: 17px;
    font-size: 19px;
    padding-top: 7px;
    cursor: pointer;
}
.swap a{
    padding-left: 12px;
    text-decoration: none;
    color: black;
    
}
.swap{
    text-align: center;
}
div i{
    padding-right: 4px;
    
}
.col input{
    height: 4pc;
    border-radius: 17px;
    background-color: rgba(224, 224, 224, 0.705);
}
.cake {
cursor: pointer;
font-size: 14px;
}
.col-12 p{
    font-size: 14px;
    color: #030396;

}
.col-12 h5{
    font-size: 15px;
    color: #2323da;
    padding-left: 45%;
}
.d-grid .btn{
    border-radius: 12px;
    height: 3pc;
}
.card-body .btn-close{
    width: 22px;
}
