body{
    background-color: rgb(230, 248, 242);
    font-family: 'Heebo', sans-serif;
}
.d-flex i {
    padding-right: 17px;
    font-size: 19px;
    padding-top: 7px;
    cursor: pointer;
}
.swap a{
    padding-left: 12px;
    text-decoration: none;
    color: black;
    
}
.swap{
    text-align: center;
}
div i{
    padding-right: 4px;
    
}
.col input{
    height: 4pc;
    border-radius: 17px;
    background-color: rgba(224, 224, 224, 0.705);
    box-shadow: white;
    margin-top: 12px;
}
.cake {
cursor: pointer;
font-size: 14px;

}
.col-12 p{
    font-size: 14px;
    color: #030396;

}
.col-12 h5{
    font-size: 15px;
    color: #2323da;
    padding-left: 45%;
}
.d-grid .btn{
    border-radius: 12px;
    height: 3pc;
    
}
.card-body .btn-close{
    width: 22px;
}

.gap-2{
cursor: pointer;
}
/* swap btn  */
.switch {
    position: relative;
    display: inline-block;
    width: 151px;
    height: 39px;
    right: 52%;
    bottom: 6px;
  }
  
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
   
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 49px;
    left: 4px;
    bottom: 4px;
    background-color: #8911b9;
    
  }
  
  
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 12pc;
  }
  .slider.round h6{
    padding-left: 42px;
    padding-top: 11px;
    color: #8911b9;
  }

  .col-4 a{
   text-decoration: none;
   margin-top: 12px;
  }
  .col-4 a:hover{
    text-decoration: underline;
    
   }
  .section-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-4 button{
  position: relative;
  left:4% ;

  }
  .section-4 .text{
    position: relative;
    right: 59%;
  
    }
    div .img{
      margin-left: 253px;
      
    
      }
      /* footer  */
      .col-lg-3 a {
        display: flex;
        flex-direction: column;
text-decoration: none;
color: white;
margin-top: 7px;

      }
      .col-lg-3 a:hover{
        text-decoration: underline;
      }
      .col-lg-3 h6 {
        color:#8911b9 ;
      }
/* icon */
.icon i{
  font-size: 23px;
  float: left;
  padding-left: 12px;
  cursor: pointer;
}

.a{
padding-left: 12px;


}
/* model  */
.model{
display: flex;

}
.modal-content{
  width: 28pc;
   border-radius: 2pc;
}
.model:hover{
background-color: #ccc;
cursor: pointer;
}
.form-control {
  border-radius: 12pc;
  height: 3pc;
}
.mb-3 img{
  height: 36px;
}
.native{
  width: 25rem;
   height: auto; 
   margin: auto; 
   border-radius: 33px;
}

.blance h6{
padding-left: 39px;
font-size: 14px;
}
.blance p{
  font-size: 10px;
  }
  .pair{
    padding-right:12px;
  }